version: '3.5'

services:
  mysql:
    container_name: mysql_container
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-mysql_paswd_2023}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-company_database}
      MYSQL_USER: ${MYSQL_USER:-angelo}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-@_angelotheman!}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - mysql_network
    restart: unless-stopped

  phpmyadmin:
    container_name: phpmyadmin_container
    image: phpmyadmin:latest
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-mysql_paswd_2023}
    ports:
      - "${PHPMYADMIN_PORT:-8080}:80"
    networks:
      - mysql
    restart: unless-stopped

  mongo_db:
    container_name: mongodb_container
    image: mongo:latest
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: angelotheman
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mongo_network

  mongo-express:
    container_name: mongo-express_container
    image: mongo-express:latest
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: angelotheman
      ME_CONFIG_MONGODB_SERVER: mongodb
    networks:
      - mongo_network

networks:
  mysql:
    driver: bridge
  mongo_network:
    driver: bridge

volumes:
  mysql:
  mongodb_data:
